header h1{
           
    margin: auto;
    color: white;
    font-style: Arial;
    font-weight: bolder; 
    font-size:xx-large;     
}







main h2{
    background-color: red;
    color: white;
    margin-top:140px;
    margin-left: 14px;
    margin-right: 14px;
    padding: 8px;
}

main nav{
    
    
    background-color:rgb(218, 214, 214);
    height: 600px;
    width: 90vw;
    
    margin: auto;
    margin-top: 80px;
}


nav li{

    display: flex;
    flex-direction: column;
    padding: 20px;
}

nav a{
    margin: 10px;

    text-decoration: none;
    cursor: pointer;
    align-items: center;
    align-content: center;
    
    display: flex;
    align-items: flex-start;
    background-color: white;
    color:  red;
    font-size: xx-large;

    
}
nav img{

    width: 120px;
    height: 120px;
    padding: 5px;
    
    margin-right: 10px;
    
}

